[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
	branch = main
[submodule "gpac"]
	path = gpac
	url = https://github.com/Bevara/Access-open.git
	branch = raw
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libpng-code"]
	path = libpng-code
	url = https://git.code.sf.net/p/libpng/code
[submodule "highway"]
	path = highway
	url = https://github.com/google/highway.git
[submodule "libjxl"]
	path = libjxl
	url = https://github.com/libjxl/libjxl.git
	branch = v0.8.x
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "openjpeg"]
	path = openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "qdbmp"]
	path = qdbmp
	url = https://github.com/madwyn/qdbmp.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "vorbis"]
	path = vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "ogg"]
	path = ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "theora"]
	path = theora
	url = https://github.com/xiph/theora.git
[submodule "libmpeg2"]
	path = libmpeg2
	url = https://github.com/cisco-open-source/libmpeg2.git
[submodule "faad2"]
	path = faad2
	url = https://github.com/knik0/faad2.git
[submodule "LibRaw"]
	path = LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "libheif"]
	path = libheif
	url = https://github.com/strukturag/libheif.git
[submodule "libde265"]
	path = libde265
	url = https://github.com/strukturag/libde265.git
[submodule "libaom"]
	path = libaom
	url = https://github.com/darkskygit/libaom.git
[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "timidity"]
	path = timidity
	url = https://github.com/geofft/timidity.git
[submodule "libtiff"]
	path = libtiff
	url = https://github.com/libsdl-org/libtiff.git
[submodule "libaiff"]
	path = libaiff
	url = https://github.com/mtszb/libaiff.git
[submodule "flac"]
	path = flac
	url = https://github.com/xiph/flac.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "mpg123"]
	path = mpg123
	url = https://github.com/libsdl-org/mpg123.git
[submodule "freepats"]
	path = freepats
	url = https://github.com/feross/freepats.git
