[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
	branch = main
[submodule "gpac"]
	path = gpac
	url = https://github.com/Bevara/Access-open.git
	branch = raw
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libpng-code"]
	path = libpng-code
	url = https://git.code.sf.net/p/libpng/code
[submodule "highway"]
	path = highway
	url = https://github.com/google/highway.git
[submodule "libjxl"]
	path = libjxl
	url = https://github.com/libjxl/libjxl.git
	branch = v0.8.x
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "openjpeg"]
	path = openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "qdbmp"]
	path = qdbmp
	url = https://github.com/madwyn/qdbmp.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
